location ~ "/crl/pki/([a-zA-Z0-9_-]+)/pem$" {
    proxy_pass http://vaultbackend/v1/pki/$1/crl/pem;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header       Host {{ vault_pki_proxy_domain }};
	proxy_buffering        on;
	proxy_cache            STATIC;
	proxy_cache_valid      200  12h;
	proxy_cache_use_stale  error timeout invalid_header updating
						   http_500 http_502 http_503 http_504;
}

location ~ "/crl/pki/([a-zA-Z0-9_-]+)$" {
    proxy_pass http://vaultbackend/v1/pki/$1/crl;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header       Host {{ vault_pki_proxy_domain }};
	proxy_buffering        on;
	proxy_cache            STATIC;
	proxy_cache_valid      200  12h;
	proxy_cache_use_stale  error timeout invalid_header updating
						   http_500 http_502 http_503 http_504;
}

location ~ "/ca/pki/([a-zA-Z0-9_-]+)/pem$" {
    proxy_pass http://vaultbackend/v1/pki/$1/ca/pem;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header       Host {{ vault_pki_proxy_domain }};
	proxy_buffering        on;
	proxy_cache            STATIC;
	proxy_cache_valid      200  12h;
	proxy_cache_use_stale  error timeout invalid_header updating
						   http_500 http_502 http_503 http_504;
}

location ~ "/ca/pki/([a-zA-Z0-9_-]+)$" {
    proxy_pass http://vaultbackend/v1/pki/$1/ca;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
	proxy_set_header       Host {{ vault_pki_proxy_domain }};
	proxy_buffering        on;
	proxy_cache            STATIC;
	proxy_cache_valid      200  12h;
	proxy_cache_use_stale  error timeout invalid_header updating
						   http_500 http_502 http_503 http_504;
}